<div class="intro">
    <p>{{description}}</p>
</div>

<div id="demo" class="example">
    <div id="form-example">test</div>
    <script src="../../build/gallery-model-form/gallery-model-form-debug.js"></script>
    <script>
    YUI().use('{{use}}', function(Y) {
        {{>model-form-simple-code}} 
    });
    </script>
</div>
